<a href="https://colab.research.google.com/github/Riddhi180605/Internship_Work/blob/main/pandasSeries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
a = pd.Series([1,2,3,4,5])
print(a)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
a = pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(a)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [ ]:
a = pd.Series({"Maths": 90 , "Sci": 70,"Ss" : 95,"Com":100,"Phy" : 91,"Chem": 75})
print(a)

Maths     90
Sci       70
Ss        95
Com      100
Phy       91
Chem      75
dtype: int64

In [ ]:
a.head()

Maths     90
Sci       70
Ss        95
Com      100
Phy       91
dtype: int64

In [ ]:
a.head(2)

Maths    90
Sci      70
dtype: int64

In [ ]:
a.tail()

Sci      70
Ss       95
Com     100
Phy      91
Chem     75
dtype: int64

In [ ]:
a.tail(3)

Com     100
Phy      91
Chem     75
dtype: int64

In [ ]:
a.sample()

Sci    70
dtype: int64

In [ ]:
a.sample(2)

Sci      70
Maths    90
dtype: int64

In [ ]:
a.shape

(6,)

In [ ]:
a.size

6

In [ ]:
a.ndim

1

In [ ]:
a.dtype

dtype('int64')

In [ ]:
a.values

array([ 90,  70,  95, 100,  91,  75])

In [ ]:
a.index

Index(['Maths', 'Sci', 'Ss', 'Com', 'Phy', 'Chem'], dtype='object')

In [ ]:
a.info()

<class 'pandas.core.series.Series'>
Index: 6 entries, Maths to Chem
Series name: None
Non-Null Count  Dtype
--------------  -----
6 non-null      int64
dtypes: int64(1)
memory usage: 268.0+ bytes

In [ ]:
a = pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(a)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [ ]:
print(a['a'])

1

In [ ]:
print(a[0])

1

/tmp/ipython-input-3848010232.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(a[0])

In [ ]:
print(a.loc['c'])

3

In [ ]:
print(a.iloc[2])

3

In [ ]:
print("at : ",a.at['d'])

at :  4

In [ ]:
print("iat : ",a.iat[2])

iat :  3

In [ ]:
# label based :

print(a[['a','c']])
print(a['a': 'c'])

a    1
c    3
dtype: int64
a    1
b    2
c    3
dtype: int64

In [ ]:
print(a[a>2])

c    3
d    4
e    5
dtype: int64

In [ ]:
users = pd.Series([21,22,23,24,25,21],index = ['raj','sneha','mariyam','nisha','shwetang','riddhi'])
# print(users)
print(users.sample())

raj    21
dtype: int64

In [ ]:
print(users+1)
print(users-1)
print(users*2)
print(users/2)

raj         22
sneha       23
mariyam     24
nisha       25
shwetang    26
riddhi      22
dtype: int64
raj         20
sneha       21
mariyam     22
nisha       23
shwetang    24
riddhi      20
dtype: int64
raj         42
sneha       44
mariyam     46
nisha       48
shwetang    50
riddhi      42
dtype: int64
raj         10.5
sneha       11.0
mariyam     11.5
nisha       12.0
shwetang    12.5
riddhi      10.5
dtype: float64

In [ ]:
match1 = pd.Series([100,200,300,400,500],index=['a','b','c','d','e'])
match2 = pd.Series([100,200,300,400,500],index=['a','b','c','d','e'])

print(match1+match2)

a     200
b     400
c     600
d     800
e    1000
dtype: int64

In [ ]:
match1 = pd.Series([100,200,300,400,500],index=['a','b','c','d','e'])
match2 = pd.Series([100,200,300,400,500],index=['x','b','c','d','e'])

print(match1+match2)

a       NaN
b     400.0
c     600.0
d     800.0
e    1000.0
x       NaN
dtype: float64

In [ ]:
match1 = pd.Series([100,200,300,400,500],index=['a','b','c','d','e'])
match2 = pd.Series([100,200,300,400,500],index=['a','b','c','d','e'])

match1.add(match2)

a     200
b     400
c     600
d     800
e    1000
dtype: int64

In [ ]:
match1 = pd.Series([100,200,300,400,500],index=['a','b','c','d','e'])
match2 = pd.Series([100,200,300,400,500],index=['x','b','c','d','e'])

print(match1.add(match2))

a       NaN
b     400.0
c     600.0
d     800.0
e    1000.0
x       NaN
dtype: float64

In [ ]:
match1 = pd.Series([100,200,300,400,500],index=['a','b','c','d','e'])
match2 = pd.Series([100,200,300,400,500],index=['x','b','c','d','e'])

match1.add(match2,fill_value=0)

a     100.0
b     400.0
c     600.0
d     800.0
e    1000.0
x     100.0
dtype: float64

In [ ]:
match1 = pd.Series([100,200,300,400,500],index=['a','b','c','d','e'])
match2 = pd.Series([100,200,300,400,500],index=['a','b','c','d','e'])

match1.add(match2,fill_value=0)

a     200
b     400
c     600
d     800
e    1000
dtype: int64

In [ ]:
match1 = pd.Series([100,200,300,400,500],index=['a','b','c','d','e'])
match2 = pd.Series([100,200,300,400,500],index=['x','b','c','d','e'])

match1.add(match2,fill_value=100)

# mul.sub.div are available in Series.....

a     200.0
b     400.0
c     600.0
d     800.0
e    1000.0
x     200.0
dtype: float64

In [ ]:
s = pd.Series([10,20,30,40,50,60])
print(s)

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64

In [ ]:
print(s.sum())

210

In [ ]:
print(s.mean())

35.0

In [ ]:
print(s.median())

35.0

In [ ]:
print(s.std())

18.708286933869708

In [ ]:
print(s.max())

60

In [ ]:
print(s.min())

10

In [ ]:
print(s.var())

350.0

In [ ]:
print(s.count())

7

In [ ]:
s = pd.Series([10,20,30,0,40,50,60])
# print(s)

print(s.isna())

0    False
1    False
2    False
3    False
4    False
5    False
6    False
dtype: bool

In [ ]:
import numpy as np
s = pd.Series([10,20,30,0,40,None,50,np.nan,60])
# print(s)

print(s.isna())
print(s.isna().sum())
print(s.notnull())
print(s.notnull().sum())

0    False
1    False
2    False
3    False
4    False
5     True
6    False
7     True
8    False
dtype: bool
2
0     True
1     True
2     True
3     True
4     True
5    False
6     True
7    False
8     True
dtype: bool
7

In [ ]:
s = s.fillna(0)
print(s)
print(s.isna().sum())

0    10.0
1    20.0
2    30.0
3     0.0
4    40.0
5     0.0
6    50.0
7     0.0
8    60.0
dtype: float64
0

In [ ]:
s = pd.Series([10,20,30,0,40,None,50,np.nan,60])
print(s)
s = s.dropna()
print(s)

0    10.0
1    20.0
2    30.0
3     0.0
4    40.0
5     NaN
6    50.0
7     NaN
8    60.0
dtype: float64
0    10.0
1    20.0
2    30.0
3     0.0
4    40.0
6    50.0
8    60.0
dtype: float64

In [ ]:
s = pd.Series([10,30,11,34,23,65,32],index=['a','e','y','d','p','f','j'])
print(s)

a    10
e    30
y    11
d    34
p    23
f    65
j    32
dtype: int64

In [ ]:
print(s.sort_values())

a    10
y    11
p    23
e    30
j    32
d    34
f    65
dtype: int64

In [ ]:
print(s.sort_values(ascending=False))

f    65
d    34
j    32
e    30
p    23
y    11
a    10
dtype: int64

In [ ]:
print(s.sort_values(ascending=True))

a    10
y    11
p    23
e    30
j    32
d    34
f    65
dtype: int64

In [ ]:
print(s.sort_index())

a    10
d    34
e    30
f    65
j    32
p    23
y    11
dtype: int64

In [ ]:
print(s.sort_index(ascending=False))

y    11
p    23
j    32
f    65
e    30
d    34
a    10
dtype: int64

In [ ]:
print(s.sort_index(ascending=True))

a    10
d    34
e    30
f    65
j    32
p    23
y    11
dtype: int64

In [ ]:
import pandas as pd

s = pd.Series([10,20,30,40])
# print(s)

#apply
s = s.apply(lambda x: x*2)
print(s)

0    20
1    40
2    60
3    80
dtype: int64

In [ ]:
users = pd.Series(["user1","user2","user3","user4"])
# print(users)

users = users.apply(lambda x: x.upper())
print(users)

0    USER1
1    USER2
2    USER3
3    USER4
dtype: object

In [ ]:
#map

s = pd.Series([10,20,30,40])
# print(s)

s = s.map(lambda x: x*2)
print(s)

0    20
1    40
2    60
3    80
dtype: int64

In [ ]:
#str functions  --> str ni badhi method use kari sakay series ma str.method no use kari ne

s = pd.Series(["apple","banana","cherry",12])
# print(s)

s = s.str.upper()
print(s)

0     APPLE
1    BANANA
2    CHERRY
3       NaN
dtype: object

In [ ]:
s = s.str.contains("A")
print(s)

0     True
1     True
2    False
3      NaN
dtype: object

In [ ]:
s = s.str.startswith("A")
print(s)

0     True
1    False
2    False
3      NaN
dtype: object