<a href="https://colab.research.google.com/github/Riddhi180605/Internship_Work/blob/main/task2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

1Ô∏è‚É£ Create a Series from [10, 20, 30, 40].

In [ ]:
a = pd.Series([10,20,30,40])
print(a)

2Ô∏è‚É£ Create a Series with values [5, 6, 7] and index ["a","b","c"].

In [ ]:
a = pd.Series([5,6,7],index=['a','b','c'])
print(a)


3Ô∏è‚É£ Create a Series from dictionary:

{"Math": 85, "Sci": 90, "Eng": 88}

In [ ]:
a = pd.Series({'Math':85,"Sci":90,"Eng":88})
print(a)

4Ô∏è‚É£ Create a Series with scalar value 100 repeated for 5 indices.

In [ ]:
a = pd.Series(100,index=[0,1,2,3,4])
print(a)

5Ô∏è‚É£ Print first 3 values of a Series.

In [ ]:
a.head(3)

6Ô∏è‚É£ Print last 2 values.

In [ ]:
print(a.tail(2))

7Ô∏è‚É£ Get the datatype of a Series.

In [ ]:
print(a.dtype)

8Ô∏è‚É£ Find number of elements in Series.

In [ ]:
a.size

9Ô∏è‚É£ Select value using label "b".

In [ ]:
a = pd.Series([10,20,30,40],index=['a','b','c','d'])
print(a['b'])

üîü Select value using position 2.

In [ ]:
print(a[2])

1Ô∏è‚É£1Ô∏è‚É£ Slice first 4 elements.

In [ ]:
print(a[:4])

1Ô∏è‚É£2Ô∏è‚É£ Filter values greater than 50.

In [ ]:
a = pd.Series([10,20,30,40,50,60,70])
print(a[a>50])



1Ô∏è‚É£3Ô∏è‚É£ Replace value 20 with 200.

In [ ]:
a[a==20] = 200
print(a)

1Ô∏è‚É£4Ô∏è‚É£ Rename index "a" to "alpha".

In [ ]:
a = pd.Series([10,20,30,40,50],index=['a','b','c','d','e'])
a.rename({'a':'alpha'},inplace=True)
print(a)

1Ô∏è‚É£5Ô∏è‚É£ Sort a Series by values.

In [ ]:
a = pd.Series([10,34,12,87,45],index=['a','b','c','d','e'])
print(a.sort_values())

1Ô∏è‚É£6Ô∏è‚É£ Add 10 to every element in Series.

In [ ]:
a = pd.DataFrame([1, 2, 3, 4 , 5 , 6],index=['a', 'b', 'c', 'd', 'e', 'f'])
print(a, "\n\n")
print(a+10)

1Ô∏è‚É£7Ô∏è‚É£ Multiply two Series together.

In [ ]:
a = pd.DataFrame([1, 2, 3, 4 , 5 , 6])
b = pd.DataFrame([10, 20, 30, 40 , 50 , 60])
print("A x B : \n\n" , a*b)

1Ô∏è‚É£8Ô∏è‚É£ Find sum of Series.

In [ ]:
a = pd.DataFrame([1, 2, 3, 4, 5, 6])
a.sum()

1Ô∏è‚É£9Ô∏è‚É£ Find mean of values.

In [ ]:
a = pd.DataFrame([1,2,3,4,5,6,7,8,9,10])
a.mean()

2Ô∏è‚É£0Ô∏è‚É£ Find median.

In [ ]:
a = pd.DataFrame([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
a.median()

2Ô∏è‚É£1Ô∏è‚É£ Find standard deviation.

In [ ]:
a = pd.DataFrame([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
a.std()

2Ô∏è‚É£2Ô∏è‚É£ Count non-null values.

In [ ]:
a = pd.DataFrame([1, 2, 3, 4 , 5 , 6, None, 8, 9, 10, None])
print(a)
a.notna().sum()

2Ô∏è‚É£3Ô∏è‚É£ Replace missing values with 0.

In [ ]:
a.fillna(0)

2Ô∏è‚É£4Ô∏è‚É£ Drop missing values.

In [ ]:
a = pd.DataFrame([1, 2, 3, 4, 5, 6, None, 8, 9, 10, None])
print(a)
a = a.dropna()
print("\nAfter Dropping NA values : \n", a)

2Ô∏è‚É£5Ô∏è‚É£ Get top 3 largest values.

In [ ]:
x = pd.Series([10,20,30,40,50])
x =x.sort_values()
print(x.tail(3))

2Ô∏è‚É£6Ô∏è‚É£ Get 2 smallest values.

In [ ]:
x = pd.Series([10,20,30,40,50])
x =x.sort_values()
print(x.head(2))

2Ô∏è‚É£7Ô∏è‚É£ Apply lambda to square each value.

In [ ]:
x = pd.Series([10,20,30,40,50])
print(x.apply(lambda x:x**2))

2Ô∏è‚É£8Ô∏è‚É£ Count frequency of unique values.

In [ ]:
s = pd.Series([10,20,30,40,50,10,2])
print(s.value_counts())

2Ô∏è‚É£9Ô∏è‚É£ Reindex Series to include new label "z".

In [ ]:
a = pd.Series([10,20,30,40,50],index=['a','b','c','d','e'])
a.reindex(['a','b','c','d','e','z'])

3Ô∏è‚É£0Ô∏è‚É£ Calculate cumulative sum of Series.

In [ ]:
a = pd.Series([10,20,30,40,50])
print(a.cumsum())